$primary-color: #3d4a57;
$accent-color: #5f4141;
$background-color: #b7d0e9;
$text-color: black;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.75;
}

h1,
h2 {
  color: $accent-color;
  font-weight: 700;
}

h1 {
  border-bottom: 2px solid lighten($accent-color, 20%);
  padding-bottom: 10px;
}

h2 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.intro {
  font-size: 1.1rem;
  font-weight: 500;
}

.list-group-item {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: lighten($accent-color, 40%);
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .intro,
  p,
  .list-group-item {
    font-size: 1rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}
